* {
     font-family: Tahoma, 'Segoe UI', Geneva, Verdana, sans-serif;
}

.time_button {
     padding:0px;
     margin:2px;
     width: 10em;
     height: 1.6em;
     font-size: 1.5em;
     font-weight: bolder;
     border: 1px solid black;
     border-radius:7px;
}


.content {
     width: 90%;
     text-align: center;
     display: flex;
     flex-wrap: wrap;
}

.content div {
    min-height: 3em;
    width: 100px;
}

.item_time {
     width:100%; 
     background-color:#88cc88;
     margin:0;
     font-size: smaller;
     line-height: 1.8em;
}

.item_phone {
     font-size: smaller;
}

.item_block {
     padding-right: 3px;
     /* border: solid 1px pink; */
}

. check_styled {

}
